.icon{
    height: 20px;
    width: 20px;
    padding-bottom: 15px;
    margin-right: 20px;
    cursor: pointer;
    opacity:0.7;
    
}
.palette {
    background-color: transparent;
    border: none;
}

.pop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 150px;
    margin-left: 5px;
   
  }

.pop button{
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}